*{
    font-family: Work Sans;
    margin: 0;
}

.header{
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
   
    
}


/* Navigation bar styles */

nav {
   padding:50px ;
   margin-right: 190px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: right;
}

nav li{
    list-style: none;
    margin-left: 50px;
    font-size:18px;
    font-weight: bold;
    color: white;
    
}

.primary-button{
    width: 180px;
    height: 64px;
    font-weight: 800;
    font-size: 20px;
    padding: 20px 25px;
    color: #005FAC;
    border: 0;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    

}

/* Banner styles */

.banner{
    display: flex;
    margin-top:180px;
    justify-content: right;
    margin-right: 230px;
    
}

.banner-title{
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 25px;
    text-align: right;
}

.banner-description{
    width: 494px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    margin-bottom: 20px;
}

.banner .primary-button{
    float: right;
    margin-bottom: 160px;
}

/* My failure styles */

.faliure{
    max-width: 1140px;
    margin: 0 auto;
    
}

.faliure-contant{
    display: flex;
    margin-top: 150px;
    align-items: center;
    gap: 24px;

}

.faliure-title{
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 18px;
    
}

.faliure-description{
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom:10px;
}

.faliure-list{
    list-style: none;
}

.faliure li{
    margin-bottom: 10px;
}

i{
    color: #16D887;
}

.left-image{
    margin-right: 87px;

}

.faliure{
    background-color:#005FAC ;
    border-radius: 10px;
}

/* My plans section */

.section-title{
    margin-top:130px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;  
    margin-bottom: 50px; 
}

.plan-container{
    display: flex;
    gap: 85px;
    justify-content: center;
    margin:0 auto;
    margin-bottom: 130px;
}

.plan-title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.plan-subtitle{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color:#737272;
}

.my-plans img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-plans{
    margin-top: 130px;
    border-radius: 10px;;
    margin-bottom: 50px;
}

.plan{
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    padding: 30px;
}

/* Call Now section */

.call-now{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 8px;
    background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(/images/watch.png);
    margin-bottom: 130px;
}

.call{
    text-align: left;
    padding: 60px 80px;
    
}

.call-now-title{
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    width: 459px;
}

